<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


  <servlet>
    <description>
    </description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <description>
    </description>
    <display-name>ValidCode</display-name>
    <servlet-name>ValidCode</servlet-name>
    <servlet-class>ValidCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidCode</servlet-name>
    <url-pattern>/ValidCode</url-pattern>
  </servlet-mapping>
</web-app>